**/node_modules
**/dist
**/build
**/coverage
**/plop-templates
**/cypress
cypress.config.js
coverage*
.swc
.git
.github
.husky
.env.*
.env*
!.env.local
!.env.production
secrets.json
README.md
storybook/
