## LOCALES CONFIG
### locales for AMQ project, please update for other projects
CONFIG_DEFAULT_LOCALE='en-us'
CONFIG_LOCALES_LIST='["en-cy","fr-fr", "en-gb", "de-at", "it-it", "de-de", "en-pt", "en-dk", "fr-be", "en-ie", "fr-lu", "en-nl", "en-pl", "en-se", "en-ch", "en-es", "en-no", "en-cz", "en-fi", "en-gr", "en-hu", "en-ro", "en-bg", "en-hr", "en-sk", "en-si", "en-lv", "en-lt", "fr-mc", "en-us", "en-ca", "en-mx", "en-au", "zh-cn", "en-hk", "en-sg", "ja-jp", "ko-kr", "zh-tw", "en-mo", "en-my", "en-th", "en-ae", "en-il", "en-sa"]'
CONFIG_LOCALE_RAW_CONFIG_JSON_PATH=./src/config/rawLocaleConf.json

## CONTENTFUL CONFIG
CONFIG_CONTENTFUL_DELIVERY_REST_API_BASE_URL=https://cdn.contentful.com
CONFIG_CONTENTFUL_PREVIEW_REST_API_BASE_URL=https://preview.contentful.com
CONFIG_CONTENTFUL_DELIVERY_API_TOKEN={{CONFIG_CONTENTFUL_DELIVERY_API_TOKEN}}
CONFIG_CONTENTFUL_PREVIEW_API_TOKEN={{CONFIG_CONTENTFUL_PREVIEW_API_TOKEN}}
CONFIG_CONTENTFUL_SPACE_ID={{CONFIG_CONTENTFUL_SPACE_ID}}
CONFIG_CONTENTFUL_ENVIRONMENT='development'
CONFIG_CONTENTFUL_DEFAULT_CACHE_EXPIRE='10'
CONFIG_CONTENTFUL_COMPONENT_HEADER_ENTRY_ID=''
CONFIG_CONTENTFUL_COMPONENT_FOOTER_ENTRY_ID=''

## ALGOLIA CONFIG
CONFIG_ALGOLIA_APPLICATION_ID={{CONFIG_ALGOLIA_APPLICATION_ID}}
CONFIG_ALGOLIA_ADMIN_API_KEY={{CONFIG_ALGOLIA_ADMIN_API_KEY}}

## REDIS CONFIG
REDIS_HOST=127.0.0.1
REDIS_PASSWORD={{REDIS_PASSWORD}}
REDIS_PORT={{REDIS_PORT}}

## APP CONFIG
APP_ORIGIN={{http://localhost:3000}}
APP_INTERNAL_REQUEST_TOKEN={{APP_INTERNAL_REQUEST_TOKEN}}
APP_SFCC_REQUEST_CLIENT_ID={{APP_SFCC_REQUEST_CLIENT_ID}}
APP_SESSION_COOKIE_NAME=session
APP_SESSION_COOKIE_DOMAIN={{localhost}}
APP_SESSION_COOKIE_ENCYRPTION={{complex_password_at_least_32_characters_long}}
APP_HEALTH_CLIENT_ID=APP_HEALTH_CLIENT_ID
APP_WEBHOOK_BUSTER_CLIENT_ID=APP_WEBHOOK_BUSTER_CLIENT_ID

## SFCC OCAPI CONFIG
# Realms:
#   - R1=Europe
#   - R2=Asia
SFCC_OCAPI_BASE_URL_R1={{OCAPI_HOST_URL}}
SFCC_OCAPI_BASE_URL_R2={{OCAPI_HOST_URL}}
SFCC_OCAPI_VERSION=v23_1

## SFCC SFRA CONFIG
# Realms:
#   - R1=Europe
#   - R2=Asia
SFCC_SFRA_BASE_URL_R1={{SFRA_HOST_URL}}
SFCC_SFRA_BASE_URL_R2={{SFRA_HOST_URL}}

## SFCC SCAPI/SLAS CONFIG
# Exmaple SCAPI URL: https://{{shortCode}}.api.commercecloud.salesforce.com/{{apiFamily}}/{{apiName}}/v1/organizations/{{organizationId}}/
# Realms:
#   - R1=Europe
#   - R2=Asia
SFCC_SCAPI_BASE_URL=api.commercecloud.salesforce.com
SFCC_SCAPI_SHORT_CODE_R1={{REALM_ORG_SHORT_CODE}}
SFCC_SCAPI_SHORT_CODE_R2={{REALM_ORG_SHORT_CODE}}
SFCC_SCAPI_ORGANIZATION_ID_R1={{REALM_ORG_ORGANIZATION_ID}}
SFCC_SCAPI_ORGANIZATION_ID_R2={{REALM_ORG_ORGANIZATION_ID}}
SFCC_SCAPI_PRIVATE_CLIENT_ID_R1={{SLAS_PRIVATE_CLIENT_ID}}
SFCC_SCAPI_PRIVATE_CLIENT_ID_R2={{SLAS_PRIVATE_CLIENT_ID}}
SFCC_SCAPI_PRIVATE_CLIENT_SECRET_R1={{SLAS_PRIVATE_CLIENT_SECRET}}
SFCC_SCAPI_PRIVATE_CLIENT_SECRET_R2={{SLAS_PRIVATE_CLIENT_SECRET}}

## NEXTJS CONFIG
### UI assets public directory path
NEXT_PUBLIC_AMQ_ASSETS_PREFIX=''

NEXT_PUBLIC_ELASTIC_APM_SERVICE_NAME=eagle_headless-custom-front_dev
NEXT_PUBLIC_ELASTIC_APM_URL=ELASTIC_APM_SERVER_URL
NEXT_PUBLIC_ELASTIC_APM_ENVIRONMENT=dev

NEXT_PUBLIC_GTM_DOMAIN_ID=GTM_DOMAIN_ID
NEXT_PUBLIC_ONETRUST_DOMAIN_ID=NEXT_PUBLIC_ONETRUST_DOMAIN_ID
