dist/
coverage/
.*.json
*.json
.husky
plop-templates/
node_modules
.husky/
*.config.js
*.setup.js
plopfile.js
*.config.ts
.next
public
*.md
.static
.vscode
.env
.*.js
cypress
!tsconfig.json
storybook/storybook-static/
